<a href="https://colab.research.google.com/github/Jiyeon1104/ai/blob/main/Day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** REVIEW ***  
Collection : 많은 데이터(elements) 를 저장하는 것

**리스트 (list)**  
- [] 사용  
- mutable(수정 및 삭제)  
- indexing / slicing  
- list = [1,2,3,4,5]
- list1 = [1,2,3,4,5] list2 = [2,3,'하나', '둘', True, False]  
- list1[0] # indexing // 출력결과 : 1
- print(list2[2:4]) # slicing // 출력결과 : '하나','둘' [시작:끝(미만)]  
- 수정 : list1[0] = 9  
print(list1) // 출력결과 :[9,2,3,4,5]  
- 연산 : list1 * 3
print(list1) // 출력결과 :[9,2,3,4,5,9,2,3,4,5,9,2,3,4,5]
- 요소 추가   
list1.append(8) //append()는 마지막에 넣음
list1.insert(0,10) //특정 위치를 지정하여 삽입  
- 요소 삭제
list3= list1  
print(list1) // 출력 결과 : 9,2,3,4,5,8  
print(list3) // 출력 결과 : 9,2,3,4,5,8  
del list3[0]  
print(list1) // 출력 결과 : 2,3,4,5,8  
print(list3) // 출력 결과 : 2,3,4,5,8  
//분명 list3의 요소를 삭제했는데 왜 list1의 요소까지 삭제?  
변수는 어떤 값의 데이터가 들어가있는 메모리 번지를 가리키는 이정표의 역할을 함  
list1 -> [9,2,3,4,5,8] <- list3  
참조하고 있는 메모리 번지가 같기 때문에 출력 결과가 같게 나옴  
진짜 복사본을 만드는 법
list4 = list1.copy()  
print(list1)  // 출력 결과 : [4,5,8]
print(list4)  // 출력 결과 : [4,5,8]
print(id(list1)) //list1주소  
print(id(list4)) // list1과 다른 주소  


**튜플 (tuple)**
- () 사용  
- immutable  
- indexing / slicing  
- 한 가지 요소로만 만들 때 ',' 넣어주기 ex) (1,)  
- t1 = ('대한', '민국') // type(t1) = tuple  
- t2 = (1,)


**딕셔너리 (dictionary)**
- {} 사용
- mutable    
- Nope  
- {key : value}  
- java의 map과 js의 json과 매우 유사  
- dict = {  
  'key' : value  
}  
print(dict) // 출력 결과 : {key:value}  
- 요소 추가  
dict['newkey'] = 'ai'  
print(dict) // 출력 결과 : 'key' : 'value', 'newkey' = 'ai'  
- 요소 삭제  
del dict['key']  
pribt(dict) // 출력 결과 : 'newkey' : 'ai'


**셋 (set)**
- {}사용
- mutable
- Nope  
- 셋의 가장 큰 특징 : 중복을 허용하지 않음  
- 중복 제거 용도로 많이 사용함  
- set = {1,1,2,2,2,3}  
print (set) // 출력 결과 : {1,2,3}  
- 순서의 개념이 없기 때문에 인덱싱 및 슬라이싱 불가

In [1]:
#if 조건식(True or False)
# True 일 경우 실행
#else :
# False 일 경우 실행

if True: 
  print('True')
else:
  print('False')

if False: 
  print('1st')
elif False:
  print('2nd')
elif False:
  print('3rd')
else:
  print('etc')

score  = 80
if score >= 100:
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')

if score >= 100:
  print('상')
elif score >= 50:
    print('중')
else:
    print('하')

True

In [12]:
 # 입력) 당신의 점수를 입력하세요 >>> 95
  # 출력) 당신의 점수는 95 점이고 학점은 AO학점입니다.  
  #                     --               --
  # 조건)100 점 초과인 점수는 없다. 0점 미만인 점수도 절대 없음
  # 100~ 90 A 
  #  89~ 80 B
  #  79~ 70 C
  #  69~ 60 D 
  #  나머지 F

  # 0 ~ 3 -
  # 4 ~ 6 O
  # 7 ~ 9 +

score = int(input('당신의 점수를 입력하세요 >>>'))

if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else :
  grade = "F"

score = str(score)

if grade == "F":
  detail = ""
elif score[1] == 0 & 1 & 2 & 3:
  detail = "-"
elif score[1] == 4 & 5 & 6:
  detail = "0"
else:
  detail = "+" 

print(f'당신의 점수는 {score}이고 학점은 {grade}{detail}입니다.')

당신의 점수를 입력하세요 >>>100
당신의 점수는 100이고 학점은 A+입니다.

In [13]:
# while 문

n = 1 

while n<=10:
  print(n)
  n = n + 1 # n += 1 (자바에서는 n++ 까지 추가)

1
2
3
4
5
6
7
8
9
10

In [18]:
#10부터 1까지 짝수만 거꾸로 출력

n = 10

while n > 0:
  print(n)
  n -= 2  # n = n - 2

10
8
6
4
2

In [23]:
# 사용자로부터 임의의 정수를 입력받아 모두 리스트에 보관하기
# 단, 0을 입력하면 프로그램을 종료


list1 = []

while True:
  num = int(input('정수를 입력하세요 : '))
  if num == 0:
    print('시스템을 종료합니다.')
    break
  else:
    list1.append(num)
    print(list1)

정수를 입력하세요 : 0
시스템을 종료합니다.

In [37]:
# while 중첩

#3일동안 1-3교시 수업을 한다

# 1일차 1교시 입니다.
# 1일차 2교시 입니다.

day = 1
study = 1

#study 초기화의 이유? study의 while문이 끝나면 study 의 값은 4가 저장되어 있기 때문에 2번째 roop를 돌 때 study가 조건식을 만족하지 않아 print문 실행 않고 while문을 빠져나가게 됨
while day <= 3:
  study = 1
  while study <= 3:
    print(f'{day}일차 {study}교시 입니다.')
    study += 1
  day += 1

1일차 1교시 입니다.
1일차 2교시 입니다.
1일차 3교시 입니다.
2일차 1교시 입니다.
2일차 2교시 입니다.
2일차 3교시 입니다.
3일차 1교시 입니다.
3일차 2교시 입니다.
3일차 3교시 입니다.

In [40]:
#구구단을 2단부터 9단까지 출력하세요

i = 2
j = 1

while i <= 9:
  j = 1
  while j <= 9:
    print(f'{i} * {j} = ', (i * j)) 
    j += 1
  i += 1

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72
9 * 1 =  9
9 * 2 =  18
9 * 3 =  27
9 * 4 =  36
9 * 5 =  45
9 * 6 =  54
9 * 7 =  63
9 * 8 =  72
9 * 9 =  81

In [53]:
# q 정수를 입력받아서 그 횟수만큼 'Hello'를 출력하시오 (0이하의 값이 입력되면 '잘못된 입력입니다.')

num = int(input('정수를 입력하세요 >>>'))
n = 1

while num > 0:
  print(f'{n}번째 Hello')
  n += 1
  num -= 1

# while문에서 num을 계속 빼주고 있기 때문에 if의 print문이 0보다 작아지면 결국 print문을 실행하게 됨 초기화 해줘야 함
num = 1
if num <= 0:
  print('잘못된 입력입니다.')

정수를 입력하세요 >>>0

In [54]:
# q2 1부터 100사이의 모든 정수 중에서 7의 배수만 출력

num = 7

while num <= 100:
  print(num)
  num += 7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [57]:
# q3 커피 1잔을 300원에 판매하는 자판기가 있음
# 자판기에 돈을 넣었을 때 자판기에서 뽑을 수 있는 커피가 몇 잔이고
# 잔돈은 얼마인지를 출력하는 프로그램을 구상하시오

money = int(input('자판기에 얼마를 넣을까요 >>> '))
coffee = 300
num = 1

while coffee < money:
  print(f'커피 {num}잔, 잔돈{money - coffee}원')
  num += 1
  coffee += 300

자판기에 얼마를 넣을까요 >>> 1400
커피 1잔, 잔돈1100원
커피 2잔, 잔돈800원
커피 3잔, 잔돈500원
커피 4잔, 잔돈200원

In [71]:
# q4 사용자로부터 0부터 9까지의 정수를 입력받아 입력된 정수가 5개가
# 될 때까지 입력 받는 프로그램을 구현하시오
# 중복된 값이 입력되면 해당 입력은 무시함

set1 = set()

while len(set1) <= 4:
  num = int(input('0 ~ 9 사이 정수를 입력하세요 >>> '))
  if num not in set1:
    set1.add(num)

print('5개의 고유한 정수가 모두 입력되었습니다.')
print(f'입력된 값은{set1}입니다.')

0 ~ 9 사이 정수를 입력하세요 >>> 5
0 ~ 9 사이 정수를 입력하세요 >>> 4
0 ~ 9 사이 정수를 입력하세요 >>> 2
0 ~ 9 사이 정수를 입력하세요 >>> 1
0 ~ 9 사이 정수를 입력하세요 >>> 3
5개의 고유한 정수가 모두 입력되었습니다.
입력된 값은{1, 2, 3, 4, 5}입니다.

In [84]:
# 1부터 100사이의 모든 정수를 한 줄에 10개씩 출력하시오

num = 1
i = 1

while num <= 100:
  print(num,end = '\t')
  while num / 10 == i:
    print('\n')
    i += 1
  num += 1

1	2	3	4	5	6	7	8	9	10

11	12	13	14	15	16	17	18	19	20

21	22	23	24	25	26	27	28	29	30

31	32	33	34	35	36	37	38	39	40

41	42	43	44	45	46	47	48	49	50

51	52	53	54	55	56	57	58	59	60

61	62	63	64	65	66	67	68	69	70

71	72	73	74	75	76	77	78	79	80

81	82	83	84	85	86	87	88	89	90

91	92	93	94	95	96	97	98	99	100

In [90]:
######
#for문
######

#for i in [1,2,3]:
#  print(i)

#for i in 'Hello':
#  print(i)

for i in range(1,4,2): # range(시작(생략가능), 끝(미만), 스탭(생략가능))
  print(i)

# set과, dict는 사용 불가

1
3

In [97]:
# 비밀번호를 입력 받아서 숫자와 문자가 모두 반드시 하나 이상
# 포함된 경우만 '사용 가능한 비밀번호입니다.'
# '불가능한 비밀번호 입니다.'
# ch.isalpha() - 알파벳으로만 구성되면 True
# ch.isnumeric() - 숫자로만 구성되면 True

pw = input('비밀번호를 입력하세요 >>> ')
ch_count = 0
num_count = 0

for ch in pw:
  if pw.isalpha() :
    ch_count += 1
  elif pw.isnumeric() :
    num_count += 1

if ch_count > 0 and num_count > 0 :
  print('사용 가능한 비번입니다.')
else : 
  print('사용 불가한 비번입니다.')

비밀번호를 입력하세요 >>> asdfe
사용 불가한 비번입니다.

# range([start], stop, [step])

1. 숫자들을 컬렉션으로 만듦
2. start를 생략하면 0부터 시작함
3. stop은 생략할 수 없음
4. step을 생략하면 1씩 증가함

In [101]:
# quiz 
# range와 for문을 사용하여 구구단을 출력
# (입력) 출력할 구구단을 입력하세요 >>

i = int(input('출력할 구구단을 입력하세요'))

for j in range(1,10):
  print(f'{i} x {j} = {i * j}')

출력할 구구단을 입력하세요5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [102]:
# set, dict도 for문으로 사용은 가능하나 순서는 보장하지 않음

for i in {'가위', '바위', '보'}:
  print(i)

가위
보
바위

In [104]:
person = {
    'name' : '에밀리',
    'age' : '20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [110]:
# 사용자로부터 양의 정수를 하나 입력 받아서 1부터 입력받은 정수까지의 모든 정수의 합계를 구하는 프로그램을 작성하시오

num = (int(input('임의의 양수를 입력하세요 >>> ')))
sum = 0

for i in range(1,num + 1):
  sum += i

print(f'1부터 {num} 사이의 모든 정수의 합계는 {sum}입니다')

임의의 양수를 입력하세요 >>> 5
1부터 5 사이의 모든 정수의 합계는 15입니다

In [112]:
# 사용자로부터 임의의 정수를 하나 입력받아서 그 숫자만큼의 '과일이름'을 입력받아 'basket' 리스트에 저장하시오

num = int(input('몇 개의 과일을 보관할까요 >>> '))
li = []

for i in range(1, num + 1):
  fruit = input(f'{i}번째 과일을 입력하세요 >>>')
  li.append(fruit)

print(f'입력받은 과일들은 {li}입니다.')

몇 개의 과일을 보관할까요 >>> 3
1번째 과일을 입력하세요 >>>사과
2번째 과일을 입력하세요 >>>배
3번째 과일을 입력하세요 >>>귤
입력받은 과일들은 ['사과', '배', '귤']입니다.

In [128]:
# 1부터 99사이의 모든 정수를 대상으로 369 게임의 결과를 출력하는 프로그램을 작성하시오
# 출력) 1 2 짝

j = 1
li = []

for i in range(1,30):
  if i / 3 == j:
    print('짝', end = '\t')
    j += 1
  print(i, end = '\t')

print('\n')
j = 11
for i in range(31,100):
  if i / 3 == j:
    print('짝짝', end = '\t')
    j += 1
  print('\n')
    if ('i' in 3):
      print('짝', end = '\t')
  print(i,end = '\t')