In [81]:
# print()

print('Hello Python Programming')
print(52)

Hello Python Programming
52

In [82]:
print(52,11,'world')

52 11 world

In [83]:
print('Hello World')
print()
print(1,2,3,4,5)

Hello World

1 2 3 4 5

In [84]:
# 주석은 컴퓨터가 읽지 않음
print('한글 사용') #주석은 코드에 대한 설명을 표현

한글 사용

In [85]:
# 기본 자료형
# 문자열 String '안녕', 'hello'
# 숫자 int 1,2,3,4,5
# 논리(불) boolean True, False

print(type('안녕'))
print(type(123))
print(type("안녕")) # 섞어쓰면 안 되지만 파이썬은 작은 따옴표와 큰 따옴표를 구별하지 않음
print('"안녕"이라고 했다')
print("'안녕'이라고 했다")
print('\'안녕\'이라고 했다') # 이스케이프 문자 escape character

<class 'str'>
<class 'int'>
<class 'str'>
"안녕"이라고 했다
'안녕'이라고 했다
'안녕'이라고 했다

In [86]:
print('이름\t나이\t지역')
print('김현아\t20\t강남구')
print('오철수\t25\t서초구')

이름	나이	지역
김현아	20	강남구
오철수	25	서초구

In [87]:
print('안녕' + '하세요')

안녕하세요

In [88]:
print('안녕','하세요')

안녕 하세요

In [89]:
print('-' * 30)

------------------------------

In [90]:
# print('-' + 5)

In [91]:
# 문자열에서 인덱싱(문자 하나를 선택)

print('안녕하세요'[0]) # 파이썬은 0부터 시작
print('안녕하세요'[1])
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

안
녕
하
세
요

In [92]:
print('안녕하세요'[-1])
print('안녕하세요'[-2])
print('안녕하세요'[-3])
print('안녕하세요'[-4])
print('안녕하세요'[-5])

요
세
하
녕
안

In [93]:
# 문자열에서의 슬라이싱 (문자열에서 여러 글자 선택)

print('안녕하세요'[1:4]) # 1부터 4미만
print('안녕하세요'[1:])
print('안녕하세요'[:3])
print('안녕하세요'[:])

녕하세
녕하세요
안녕하
안녕하세요

In [94]:
#print('안녕하세요'[9])
#IndexError 인덱스 범위를 초과한 것에 대한 에러

In [95]:
print(len('안녕하세요')) #길이는 1에서 시작

5

In [96]:
print('안녕하세요')

안녕하세요

In [97]:
# 조건문

# bool & if

print('true')

true

In [98]:
print (10 == 100)
print (10 != 100)
print (10 < 100)
print (10 > 100)
print (10 >= 100)

False
True
True
False
False

In [101]:
print('가방' == '가방')
print('가방' == '백')
print('가방' != '백') # 한글은 사전 순서 (즉, 가나다순)
print('가방' < '백')

True
False
True
True

In [102]:
# if 조건문
# 조건에 따라 특정 코드를 실행하거나 특정 코드를 실행하지 않게 만들고 싶을 때 사용
# 코드의 실행 흐름을 변경시키는 것을 조건 분기라고 부름

num = int(input('정수를 입력하세요 >> '))

if num > 0:
    print('양수입니다.')

if num < 0:
    print('음수입니다.')

if num == 0:
    print('0입니다.')

양수입니다.

In [108]:
# 날짜/시간과 관련된 기능을 가져옴

import datetime

# 현재의 날짜와 시간을 구하는 함수
now = datetime.datetime.now()

print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2022-01-28 14:33:18.087901
2022
1
28
14
33
18

In [110]:
if now.hour >= 12 :
    print(f'현재 시각은 {now.hour}시 {now.minute}분으로 오후입니다.')

if now.hour < 12 :
    print(f'현재 시각은 {now.hour}시 {now.minute}분으로 오전입니다.')

현재 시각은 14시 33분으로 오후입니다.

In [114]:
season = ''

if 3 <= now.month <= 5 :
    season = '봄'

if 6 <= now.month <= 8:
    season = '여름'

if 9 <= now.month <= 11:
    season = '가을'

if now.month == 12 or 1 <= now.month <= 2 :
    season = '겨울'

print(f'이번 달은 {now.month}월로 {season}입니다.')

이번 달은 1월로 겨울입니다.

In [125]:
# % 연산자를 사용하지 않고 점수를 입력받아 그 수가 짝수인지 홀수인지를 알려주는 프로그램을 작성하시오

num = input("정수를 입력하세요 >>> ")

if num[-1] in "02468":
    print('짝수입니다.')

if num[-1] in "13579":
    print('홀수입니다.')

짝수입니다.

In [ ]:
# pass

number = input('정수를 입력하세요 >>> ')

if number > 0 :
    pass
else : 
    pass

In [128]:
# 리스트와 반복문

li = [1,2,3,4,5] # collection(여러 개의 데이터를 저장하여 사용함), mutable(수정과 삭제가 가능함), ordered (인덱싱과 슬라이싱이 가능함)

for i in li:
    if i >= 3:
        print(i)

3
4
5

In [130]:
# 딕셔너리와 반복문

dict = {
    1 : '홍길동',
    2 : '이몽룡'
}

In [131]:
print(dict[1])

홍길동

In [133]:
for i in dict:
    print(i, dict[i])

1 홍길동
2 이몽룡

In [136]:
list(range(0,5,2)) # 시작을 생략하면 0부터 5미만 까지 증감값을 생략하면 1씩 증가

[0, 2, 4]

In [138]:
# for : 반복횟수를 정확히 알고 있을 때 주로 사용
# while : 반복횟수를 정확히 알 수 없을 때 주로 사용

for i in range (2,-1,-1):
    print(f'{i}번째 반복입니다.')

#num = 0
#while num < 3:
#    print(f'{num}번째 반복입니다.')
#    num += 1

2번째 반복입니다.
1번째 반복입니다.
0번째 반복입니다.

In [140]:
# break / continue

# break 반복문 종료
# 만나는 순간 반복문을 빠져 나감

i = 0

while True:
    print(f'{i} 번째 반복입니다.')
    i += 1
    inp = input('종료할까요? (y)>> ')
    if inp in ['Y', 'y']:
        print('반복을 종료합니다.')
        break

0 번째 반복입니다.
반복을 종료합니다.

In [142]:
# continue 현재 반복을 중지하고 다음 반복으로 넘어갈 때 사용
# 전체 반복에서 부분을 배고 일부만 실행할 때 사용

for num in range(1,11):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [144]:
# enumerate() 리스트의 요소를 반복할 때 현재 인덱스가 몇 번째인지 확인

student = ['진구', '철수', '미애', '형구', '진수']

#num = 0

#for i in student :
#    print(f'{num}번 {i}')
#    num += 1

for no, name in enumerate(student):
    print(f'{no+1}번 {name}')

1번 진구
2번 철수
3번 미애
4번 형구
5번 진수

In [147]:
# items() 딕셔너리는 items() 함수를 사용하여 key와 value 값을 한 번 추출할 수 있음
dict = {
    '홍길동' : 185,
    '이몽룡' : 189,
    '성춘향' : 168
}

#for name in dict:
#    print(f'{name}의 키는 {dict[name]}입니다.')

for name, height in dict.items():
    print(f'{name}의 키는 {height}입니다.')

홍길동의 키는 185입니다.
이몽룡의 키는 189입니다.
성춘향의 키는 168입니다.

In [148]:
# 리스트 내포 list comprehensions

array = []

for i in range(0,20,2):
    array.append(i)

print(array)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [149]:
array = [i for i in range(0,20,2)   ]

print(array)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [156]:
arr = ['사과', '체리', '바나나', '과자']

output = [i for i in arr if i != '과자'] # 중첩하는 것이 좋지는 않음

print(output)

['사과', '체리', '바나나']