<a href="https://colab.research.google.com/github/Jiyeon1104/ai/blob/main/Day16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Fibonacci

# 1

def fib(n):
    a,b = 1,1
    if n == 1 or n == 2: # 1번째와 2번째 값은 1
        return 1
    for i in range(1, n): # 1번째부터 n번째까지
        a,b = b, a+b
    return a

fib(4)

3

In [7]:
# 재귀 Recrusive

def fib(n): # n번째의 피보나치 수열 값을 찾는 함수
    if n == 1 or n == 2: # 1번째와 2번째의 값은 1
        return 1
    else:
        return fib(n-1) + fib(n-2)

fib(7)

13

In [ ]:
# 람다 lambda

fib = lambda n:1 if n <= 2 else fib(n-1) + fib(n-2)

In [11]:
# 피보나치 수열의 값을 n번째까지 리스트로 전부 출력하라
list = [1]

def fib(n):
    a,b = 1,1
    if n == 1 or n == 2: # 1번째와 2번째 값은 1
        return 1
    for i in range(1, n): # 1번째부터 n 번째까지
        a,b = b, a+b
        list.append(a)
    return list

print(fib(7))

[1, 1, 2, 3, 5, 8, 13]

In [14]:
# 2D lists 2차원 리스트 VS pandas's dataframe
#        math    korean 
#austin   90       80
#rick     80       85
#andy    100       70
grade = [[90,80],[80,85],[100,70]]

grade[2][0]

100

In [16]:
# Ask the user to enter the name, age and shoe size for four people.
# Ask for the name of one of the people in the list and 
# Display their age and shoe size.

dict = {}

for i in range(0,4):
    ans = input('Enter your name, age and shoe size (name, age, shoe size) >> ').split(', ')
    dict[ans[0]] = {'Age' : ans[1], 'Shoe size' : ans[2]}
    
who = input('Enter your name : ')
print(dict[who])

Enter your name, age and shoe size (name, age, shoe size) >> jiyeon, 15, 240
Enter your name, age and shoe size (name, age, shoe size) >> rick, 14, 230
Enter your name, age and shoe size (name, age, shoe size) >> hyeonbin, 19, 250
Enter your name, age and shoe size (name, age, shoe size) >> sooyeong, 24, 230
Enter your name : sooyeong
{'Age': '24', 'Shoe size': '230'}

In [21]:
# After gathering the four names, ages and shoe sizes, ask the user to enter the name
# of the person they want to remove from the dict.
# Delete this row from the data and display the other rows on seperate lines.

dict = {}

for i in range(0,4):
    ans = input('Enter your name, age and shoe size (name, age, shoe size) >> ').split(', ')
    dict[ans[0]] = {'Age' : ans[1], 'Shoe size' : ans[2]}
    
who = input('Enter the name that you want to remove from the dict : ')
del dict[who]

for each in dict:
    print(each, dict[each]['Age'], dict[each]['Shoe size'])

Enter your name, age and shoe size (name, age, shoe size) >> jy, 14, 250
Enter your name, age and shoe size (name, age, shoe size) >> hb, 13, 210
Enter your name, age and shoe size (name, age, shoe size) >> sh, 11, 240
Enter your name, age and shoe size (name, age, shoe size) >> sy, 13, 250
Enter the name that you want to remove from the dict : sy
jy 14 250
hb 13 210
sh 11 240

In [30]:
# Reading and Writing to a File

# It is all very well being to define a list, make changes and add new data
# but if the next time the program is run it returns to the original data and your
# changes are lost then it is not a lot of use. Therefore, It is sometimes necessary
# to save the data outside of the program and this way the data can be stored,
# along with any changes that are made.

file = open('Countries.txt', 'w')
file.write('Italy\n')
file.write('Germany\n')
file.write('Spain\n')
file.close()

In [35]:
file = open('Countries.txt', 'r')
print(file.read())

Italy
Germany
Spain
France
France

In [34]:
file = open('Countries.txt', 'a')
file.write('France\n')
file.close()

In [ ]:
# Display the following meny to the user:
# 1) Create a new file
# 2) Display the file
# 3) Add a new item to the file
#    Make a selection 1,2 or 3

# Ask the user to enter 1,2, or 3. If they select anything other than 1,2 or 3
# It should display a suitable error message.

# If they select 1: ask the user to enter a school subject and save it to a new file called 'Subject.txt'. It should overwrite any existing file with a new file
# If they select 2: Display the contents of the 'Subject.txt'file
# If they select 3: Ask the user to enter a new subject and save it to the file and then display the entire contents of the file

# Run the program several times to test the options.
# Fantastic work, saving data to external files is an important programming skill.
print('1) Create a new file \n2) Display the file \n3) Add a new item to the file')
ans = ('Make a selection >> ')

if ans == '1':
    ss = input('Enter a school subject >> ')
    file = open(f'Subject.txt','w')
    file.write(ss)
    file.close()

elif ans == '2':